<% layout('/layouts/boilerplate') %> 

<div class="login">
        <div class="login-box">
         <h3>Login</h3>
         <form action="/login" method="post" class=" needs-validation" novalidate>
            <div class="mb-3">
                <label for="username" class="form-label" >Username</label>
                <input name="username" id="username" type="text" class="form-control" required>
                
                <!-- validation -->
                 <div class="valid-feedback">looks good</div>
            </div>
    
            <div class="mb-3">
                <label for="password" class="form-label" >Password</label>
                <input name="password" id="password" type="password" class="form-control" required>
                
                <!-- validation -->
                 <div class="valid-feedback">like strong</div>
            </div>
              
            
    
            <button class="btn btn-success">Login</button>
            <br>
            <div class="signup-a">
                <a class="nav-link" href="/signup">Signup</a>
            </div>
            
         </form>
        </div>
    </div> 
</div>   